<!DOCTYPE html>
<html lang="es">
 <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'media/img/djangopng.png' %}" type="image/x-icon">
    <!-- Fuentes y origenes de la pag: -->  
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head> 
<body>
    <!-- Menu -->
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="#" aria-label="Product">
            <img src="{% static 'media/img/python.png' %}" width="35" />
          </a>

          <!-- Enlaces Y control de inicio de sesion: -->
          
            <li class="nav-item d-none d-md-inline-block active">
              <a class="py-2 nav-link" href="{% url 'inicio' %}">Software para la gestión de seguridad en el trabajo</a>
            </li>
            <li class="nav-item d-none d-md-inline-block">
              <!-- <a class="py-2 nav-link" href="">Ingreso</a> -->
            </li>
         
            <li class="nav-item d-none d-md-inline-flex active">
             
            </li>
         
          

        </nav>
    </header>
    {% block contenido %}{% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
</body>
</html>